<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Basic.css">
    <link rel="stylesheet" href="/css/Simple-Slider.css">
    <link rel="stylesheet" href="/css/default.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand " href="#"><img src="/img/logo.png" style="width: 50px;">&nbsp; international chess university</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="/#about">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/#contact">contact</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#">login</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/#register">register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="background: url(&quot;/img/login.jpg&quot;) no-repeat center;height: 90vh; background-size: cover;">
        <div class="container">
            <section class="position-relative py-4 py-xl-5">
                <div class="row d-flex justify-content-center" style="margin-top: 150px;">
                    <div class="col-xxl-4 align-self-center">
                        <div class="card mb-5">
                            <div id="login" class="card-body d-flex flex-column align-items-center py-">
                                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                    </svg></div>
                                <form class="text-center" method="post" action="/classroom">
                                    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                                    <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Login</button></div>
                                    <p class="text-muted">Forgot your password?</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;ICU 2022</p>
        </div>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/grayscale.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="/js/Simple-Slider.js"></script>
</body>

</html>